
.nav {
  background-color: #bdbdbd;
}

.pairs {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px;

  @extend .li
}

.pages {
  display: flex;
  padding: 10px 0 10px;
  align-items: flex-end;

  @extend .li

}


.li {
  li {
    margin-left: 20px;
    list-style: none;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }
}






